.custom-shape-divider-bottom-1674066955 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674066955 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 118px;
}

.custom-shape-divider-bottom-1674066955 .shape-fill {
  fill: rgba(42, 89, 176, 0.831372549);
}

.custom-shape-divider-bottom-1674067398 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674067398 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 144px;
}

.custom-shape-divider-bottom-1674067398 .shape-fill {
  fill: #000000;
}

.container4_wave {
  position: absolute;
  bottom: -200vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
}

.container4_wave svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 161px;
}

.container4_wave .shape-fill {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  fill: #67001A;
}

.container5_wave {
  position: absolute;
  top: 400vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.container5_wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.container5_wave .shape-fill {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  fill: #67001A;
}

.switch {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  --false: #E81B1B;
  --true: #009068;
}
.switch input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 2rem;
  width: 3.5rem;
  background-color: #fff;
  position: relative;
  border-radius: 0.2em;
  cursor: pointer;
}
.switch input[type=checkbox]::before {
  content: "";
  display: block;
  height: 1.9em;
  width: 1.9em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 1.25em;
  background-color: var(--false);
  border-radius: 0.2em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.switch input[type=checkbox]:checked::before {
  background-color: var(--true);
  left: calc(100% - 1.25em);
}

.text_jojo_mode {
  position: absolute;
  width: 100px;
  -webkit-transform: translate(10vh, 0.5vh);
          transform: translate(10vh, 0.5vh);
}

.container1_dio {
  position: absolute;
  aspect-ratio: 9/16;
  bottom: 0;
  left: 0;
  display: none;
}

.container2_pucci {
  position: absolute;
  aspect-ratio: 9/16;
  height: 20vw;
  -webkit-transform: rotate(180deg) scaleX(-1);
          transform: rotate(180deg) scaleX(-1);
  bottom: -55vw;
  right: 10vw;
  z-index: 2;
  display: none;
}

.container3_jovana {
  z-index: 0;
  position: absolute;
  aspect-ratio: 9/16;
  height: 50vh;
  bottom: -200vh;
  left: 0;
  display: none;
}

.container4_jotaro {
  position: absolute;
  aspect-ratio: 9/16;
  height: 200px;
  top: 5vh;
  right: 20vh;
  display: none;
}

.container4_jolyne {
  position: absolute;
  aspect-ratio: 16/16;
  height: 200px;
  top: 5vh;
  left: 20vh;
  display: none;
}

/* Hide the default checkbox */
.container4_check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container4_check {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 6vh;
  -webkit-transform: translateX(-9vw);
          transform: translateX(-9vw);
}

.container4_check_text {
  position: absolute;
  top: 6.5vh;
  -webkit-transform: translateX(-15vw);
          transform: translateX(-15vw);
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background: #606062;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 1px;
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 1px;
}

/* When the checkbox is checked, add a blue background */
.container4_check input:checked ~ .checkmark {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#255CD2), to(#1D52C1));
  background-image: linear-gradient(#255CD2, #1D52C1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container4_check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container4_check .checkmark:after {
  left: 0.45em;
  top: 0.2em;
  width: 0.24em;
  height: 0.6em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Inter;
  font-weight: bold;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#cursor {
  position: absolute;
  opacity: 0.5;
  width: 70px;
  height: 70px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.container1 p {
  color: white;
  margin-bottom: 20px;
}
.container1 h4 {
  color: gray;
}
.container1 .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container1 h2 {
  color: white;
  font-size: 40px;
  background-color: orange;
  padding: 10px 1px 10px;
  -webkit-animation: 2s container1_text infinite;
          animation: 2s container1_text infinite;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container1 h2:first-child {
  border-radius: 10px 0 0 10px;
  padding-left: 15px;
}
.container1 h2:last-child {
  border-radius: 0 10px 10px 0;
  padding-right: 15px;
}
.container1 h2:nth-child(5) {
  padding-left: 10px;
}
.container1 h2:nth-child(10) {
  padding-left: 10px;
}
.container1 h2:nth-child(15) {
  padding-left: 10px;
}
.container1 h2:nth-child(18) {
  padding-left: 10px;
}
.container1 h4 {
  margin-top: 20px;
  font-size: 20px;
}
.container1 h5 {
  position: absolute;
  color: white;
  top: 92.5vh;
  font-size: 20px;
}

@-webkit-keyframes container1_text {
  0% {
    background-color: orange;
  }
  50% {
    background-color: violet;
  }
  100% {
    background-color: orange;
  }
}

@keyframes container1_text {
  0% {
    background-color: orange;
  }
  50% {
    background-color: violet;
  }
  100% {
    background-color: orange;
  }
}
.container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgba(42, 89, 176, 0.9137254902);
}
.container2 p {
  color: white;
}
.container2 .text_container1 {
  position: absolute;
  -webkit-transform: translateX(-25vw);
          transform: translateX(-25vw);
}
.container2 .text_container2 {
  position: absolute;
  -webkit-transform: translateX(25vw);
          transform: translateX(25vw);
}
.container2 .text_container1, .container2 .text_container2 {
  font-size: 2vw;
}
.container2 .text_container3 {
  font-size: 3vw;
}
@media screen and (max-width: 600px) {
  .container2 .text_container3 {
    font-size: 4vw;
  }
}

.container3 {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: black;
  position: relative;
}
.container3 .container-wrapper {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: black;
  position: relative;
}

.text_up {
  position: absolute;
  color: white;
  font-size: 40px;
  top: 10vh;
}

.text_down {
  position: absolute;
  color: white;
  top: 2.5vw;
}

.card-group, .card {
  width: 30vmin;
  aspect-ratio: 5/7;
}

.card {
  position: absolute;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.78, 0.3, 1.01);
  transition: -webkit-transform 0.8s cubic-bezier(0.3, 0.78, 0.3, 1.01);
  transition: transform 0.8s cubic-bezier(0.3, 0.78, 0.3, 1.01);
  transition: transform 0.8s cubic-bezier(0.3, 0.78, 0.3, 1.01), -webkit-transform 0.8s cubic-bezier(0.3, 0.78, 0.3, 1.01);
}
.card:nth-child(1) {
  -webkit-transform: translateX(3%) rotate(-4deg);
          transform: translateX(3%) rotate(-4deg);
  z-index: 1;
}
.card:nth-child(2) {
  -webkit-transform: translate(-3%, 0%) rotate(-1deg);
          transform: translate(-3%, 0%) rotate(-1deg);
  z-index: 4;
}
.card:nth-child(3) {
  -webkit-transform: translate(-4%, -2%) rotate(5deg);
          transform: translate(-4%, -2%) rotate(5deg);
  z-index: 3;
}
.card:nth-child(4) {
  -webkit-transform: translate(-6%, 0) rotate(-3deg);
          transform: translate(-6%, 0) rotate(-3deg);
  z-index: 2;
}
.card:nth-child(5) {
  z-index: 5;
}

.card-group:hover > .card:nth-child(1) {
  -webkit-transform: translateX(-160%) rotate(-10deg);
          transform: translateX(-160%) rotate(-10deg);
}
.card-group:hover > .card:nth-child(2) {
  -webkit-transform: translate(-100%, -2%) rotate(2deg);
          transform: translate(-100%, -2%) rotate(2deg);
}
.card-group:hover > .card:nth-child(3) {
  -webkit-transform: translate(-20%, -2%) rotate(-4deg);
          transform: translate(-20%, -2%) rotate(-4deg);
}
.card-group:hover > .card:nth-child(4) {
  -webkit-transform: translate(60%, -2%) rotate(4deg);
          transform: translate(60%, -2%) rotate(4deg);
}
.card-group:hover > .card:nth-child(5) {
  -webkit-transform: translate(120%, 3%) rotate(10deg);
          transform: translate(120%, 3%) rotate(10deg);
}
.card-group:hover > #cursor:nth-child(1) {
  -webkit-transform: translateX(-160%) rotate(-10deg);
          transform: translateX(-160%) rotate(-10deg);
}
.card-group:hover > #cursor:nth-child(2) {
  -webkit-transform: translate(-100%, -2%) rotate(2deg);
          transform: translate(-100%, -2%) rotate(2deg);
}
.card-group:hover > #cursor:nth-child(3) {
  -webkit-transform: translate(-20%, -2%) rotate(-4deg);
          transform: translate(-20%, -2%) rotate(-4deg);
}
.card-group:hover > #cursor:nth-child(4) {
  -webkit-transform: translate(60%, -2%) rotate(4deg);
          transform: translate(60%, -2%) rotate(4deg);
}
.card-group:hover > #cursor:nth-child(5) {
  -webkit-transform: translate(120%, 3%) rotate(10deg);
          transform: translate(120%, 3%) rotate(10deg);
}

.image {
  width: 30vmin;
  border-radius: 20px;
}

.hidden {
  opacity: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.show {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.follow_arrow {
  position: fixed;
  width: 70px;
  height: 70px;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.follow_arrow .arrow_image {
  position: absolute;
  width: 70px;
}
.follow_arrow .arrow {
  color: white;
  font-size: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container4 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #67001A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.container4 h2 {
  position: absolute;
  top: 5vh;
  color: white;
  font-size: 35px;
  font-size: 2vw;
}
.container4 h3 {
  color: grey;
  position: absolute;
  font-size: 25px;
  top: 6vh;
  -webkit-transform: translateX(20vh);
          transform: translateX(20vh);
}
.container4 #ball {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 100;
  border-radius: 50%;
}
.container4 .rules {
  -webkit-animation: rules 0.5s infinite linear alternate;
          animation: rules 0.5s infinite linear alternate;
}
.container4 .rules_container {
  display: none;
}
.container4 .rules_container p {
  color: white;
  position: absolute;
  top: 10vh;
  -webkit-transform: translateX(-3vw);
          transform: translateX(-3vw);
}

.top_button {
  position: fixed;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  width: 70px;
  height: 70px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 100;
  border-radius: 50%;
  background-color: blue;
  bottom: 2vh;
  right: 2vh;
  display: none;
  -webkit-animation: top_button 2s infinite linear alternate;
          animation: top_button 2s infinite linear alternate;
}
.top_button:hover {
  cursor: pointer;
}

@-webkit-keyframes rules {
  0% {
    color: grey;
  }
  100% {
    color: lightgrey;
  }
}

@keyframes rules {
  0% {
    color: grey;
  }
  100% {
    color: lightgrey;
  }
}
@-webkit-keyframes top_button {
  0% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}
@keyframes top_button {
  0% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}
#left1000vw {
  position: absolute;
  left: 1000vw;
}

.container5 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container5 h3 {
  color: white;
  font-size: 25px;
}

.container6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.container6 h2 {
  color: white;
}
.container6 h3 {
  color: white;
  font-size: 20px;
}
.container6 img {
  aspect-ratio: 14/16;
  height: 30vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container6 img:hover {
  height: 70vh;
}