.custom-shape-divider-bottom-1674066955 
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0
    transform: rotate(180deg)


.custom-shape-divider-bottom-1674066955 svg 
    position: relative
    display: block
    width: calc(100% + 1.3px)
    height: 118px


.custom-shape-divider-bottom-1674066955 .shape-fill 
    fill: #2A59B0D4





.custom-shape-divider-bottom-1674067398 
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0
    transform: rotate(180deg)


.custom-shape-divider-bottom-1674067398 svg 
    position: relative
    display: block
    width: calc(100% + 1.3px)
    height: 144px


.custom-shape-divider-bottom-1674067398 .shape-fill 
    fill: #000000




.container4_wave 
    position: absolute
    bottom: -200vh
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0
    z-index: 2


.container4_wave svg 
    position: relative
    display: block
    width: calc(118% + 1.3px)
    height: 161px


.container4_wave .shape-fill 
    transition: .5s
    fill: #67001A

